@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.bg-shipping{
    background-color: #3D3D3D !important;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.navbar {
    background-color: #fAfAfA;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    position: sticky;
}

.navbar.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.navbar-brand small {
    font-size: 0.8rem;
    display: block;
    font-weight: 400;
    letter-spacing: normal;
}
.nav-link {
    color: #333333;
    font-weight: 400;
    margin-right: 15px;
}
.nav-link:hover {
    color: #555;
}
.whatsapp-link {
    display: flex;
    align-items: center;
    color: #111;
    font-weight: 500;
    text-decoration: none;
}
.whatsapp-link i {
    font-size: 1.2rem;
    margin-right: 5px;
}
@media (max-width: 991px) {
    .navbar-nav {
        display: block;
        align-items: flex-start;
    }

    .navbar-nav .nav-item {
        margin: 0;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .whatsapp-link {
        text-align: left;
        margin-top: 10px;
        margin-left: 0;
    }

    .whatsapp-link i {
        margin-left: 0;
    }
}
